:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
} 
html, body {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;  
    text-align: center;
}

/* MOBILE VERSION */

main {
    width: 375px;
    max-width: 800px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.bg-pattern-top {
    width: 374px;
    height: 232px;
    background-image: url(images/bg-pattern-top-mobile.svg);
    position: absolute;
}
.bg-pattern-bottom {
    background-image: url(images/bg-pattern-bottom-mobile.svg);
} 
.intro-section {
    width: 327px;
    height: 219px;
    margin-bottom: 3em;
    margin-top: 4em;
}
.main-heading {
    font-size: 40px;
    line-height: 32px;
    font-weight: 700;
    color: var(--very-dark-magenta);
    margin-top: 0;
}
.main-paragraph {
    font-size: 19px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: -0.63px;
    color: var(--dark-grayish-magenta);
    margin-top: 0;
}
.reviews-section {
    width: 327px;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3em;
}
.ratings-container {
    width: 327px;
    height: 78px;
    border-radius: 0.3em;
    background-color: var(--light-grayish-magenta);
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.star-icons {
   display: flex;
   justify-content: center;
   gap: 0.5em;
}
.ratings {
    font-size: 17px;
    font-weight: 700;
    color: var(--very-dark-magenta);
}
.customer-section {
    margin-bottom: 2em;
}
.customers {
    background-color: var(--very-dark-magenta);
    width: 327px;
    height: 248px;
    margin-bottom: 1em;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2em;
}
.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.customers img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.name-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5em;
    padding-top: 0.1em;
}
.names {
    font-size: 17px;
    font-weight: 700;
    color: var(--white);
    margin: 0;
}
.title {
    font-size: 17px;
    font-weight: 400;
    color: var(--soft-pink);
    margin: 0;
    margin-top: 0.3em;
}
.reviews {
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    line-height: -0.3 px;
    color: var(--white);
    text-align: left;
    margin-bottom: 0;
}

/* DESKTOP VERSION */

@media (min-width: 992px) {
    main {
        flex-direction: column;
        width: 100%;
    }
    .bg-pattern-top{
        width: 584px;
        height: 362px;
        background-image: url(images/bg-pattern-top-desktop.svg);
    } 
    .bg-pattern-bottom {
        width: 1085px;
        height: 673px;
        background-image: url(images/bg-pattern-bottom-desktop.svg);
        position: absolute;
        top: 1em;
        right: 2px;
        z-index: -1;
    } 
    .intro-section {
        width: 445px;
        height: auto;
        margin-bottom: 3em;
        margin-top: 5em;
    }
    .intro-container {
        text-align: left;
        display: flex;
        flex-direction: row;
        width: 1110px;
        height: auto;
        justify-content: space-between;
        align-items: baseline;
    }
    .main-heading {
        font-size: 56px;
        line-height: 48px;
        letter-spacing: -2px;
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    section.customer-section {
        display: flex;
        flex-direction: row;
        width: 1110px;
        height: 266px;
        gap: 2em;
        margin-bottom: 0;
    }
    .customers {
        width: 350px;
        height: 234px;
        margin-bottom: 0;    
    }
    .customer2 {
        margin-top: 1em;
    }
    .customer3 {
        margin-top: 2em;
    }
    .reviews-section {
        width: 540px;
        height: 200px;
        position: relative;
        top: 1.3em; 
    }
    .ratings-container {
        width: 445px;
        height: 56px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .ratings-container2 {
        margin-left: 3em;
    }
    .ratings-container3 {
        margin-left: 6em;
    }
    .star-icons {
        display: flex;
        gap: 0.5em;
    }
    
}